:root {
    --primary-color: #0A1128;
    --white-color: #fff;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.6;


}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    background-image: url('../imagens/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.main-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color)
}

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);

}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;


}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);

}

.menu h1 a {
    color: inherit;

}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;

}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: #0A1128;
    transition: all 200ms ease-in-out;

}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;

}

.menu-spacing {
    height: 65px;

}

.intro-content {
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    text-transform: uppercase;
    font-size: 5rem;

}

.cards-content {
    width: 100%;
    display: flex;  
    flex-direction: row;  
  
  }
  .card {
    width: 350px;
    height: 460px;
    margin: 25px;
    background-color: #fff;    
    overflow: hidden;    
    transition: 0.3s;
  }
  .card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .card-img {
    min-width: 100%;
    width: auto;
    height: 100%;
  }
  .card-body {
    height: 100px;
    padding: 1px;   
    
  }
  .card-titulo {
    font-size: 32px;
    margin: 15px 0;
    text-align: center;
  }
  .card-texto {
    line-height: 24px;
    width: 260px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }








